In [30]:
import os
import sys
import pandas as pd
import pprint
import psycopg2

In [36]:
# connect postgreSQL
sys.path.append('..')
import connection_info
users = connection_info.users
dbnames = connection_info.dbnames
passwords = connection_info.passwords
conn = psycopg2.connect(" user=" + users +" dbname=" + dbnames +" password=" + passwords)

In [9]:
# excexute sql
cur = conn.cursor()
cur.execute('SELECT * FROM work.reserve_tb;')
results = cur.fetchall()

In [15]:
type(results)

list

In [17]:
reserve = pd.read_sql(sql="SELECT * FROM work.reserve_tb;", con=conn, index_col='reserve_id' )

In [18]:
reserve.shape

(4030, 8)

## 2-2

In [7]:
reserve2_2 = pd.read_sql(
sql=
    """
SELECT *
FROM work.reserve_tb

-- インデックスを効かせるために、checkin_dateでも絞り込み
WHERE checkin_date BETWEEN '2016-10-10' AND '2016-10-13'
  AND checkout_date BETWEEN '2016-10-13' AND '2016-10-14'
""",
con=conn, index_col='reserve_id' )

In [8]:
reserve2_2

,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
reserve_id,,,,,,,,
r285,h_121,c_67,2016-09-27 06:13:19,2016-10-12,12:00:00,2016-10-14,4,184000
r514,h_74,c_120,2016-10-06 03:12:04,2016-10-11,12:30:00,2016-10-14,2,28800
r1066,h_205,c_261,2016-09-14 02:57:59,2016-10-11,10:00:00,2016-10-14,4,85200
r1481,h_116,c_364,2016-09-17 17:45:39,2016-10-11,11:30:00,2016-10-13,4,107200
r1547,h_149,c_377,2016-09-27 08:19:24,2016-10-10,11:00:00,2016-10-13,2,153600
r1710,h_59,c_422,2016-09-19 04:17:25,2016-10-10,12:00:00,2016-10-13,2,148800
r1933,h_113,c_477,2016-09-24 09:04:26,2016-10-12,11:30:00,2016-10-13,4,77200
r2059,h_9,c_517,2016-09-19 15:32:35,2016-10-11,12:30:00,2016-10-13,3,188400
r2116,h_77,c_527,2016-10-05 00:44:09,2016-10-11,09:00:00,2016-10-13,4,353600
r2171,h_177,c_540,2016-09-28 01:21:26,2016-10-11,10:00:00,2016-10-13,4,560800
r2204,h_82,c_549,2016-09-27 01:47:57,2016-10-10,12:00:00,2016-10-13,2,76200
r2291,h_230,c_574,2016-10-09 04:34:14,2016-10-12,12:00:00,2016-10-13,1,17400
r2524,h_203,c_631,2016-09-14 10:45:15,2016-10-12,10:30:00,2016-10-14,3,167400
r2556,h_193,c_639,2016-09-11 17:36:25,2016-10-11,10:30:00,2016-10-14,4,702000
r2735,h_178,c_690,2016-10-11 14:06:11,2016-10-11,09:00:00,2016-10-14,3,189000
r3011,h_156,c_761,2016-10-09 08:22:07,2016-10-11,11:30:00,2016-10-14,3,165600
r3137,h_218,c_792,2016-09-20 02:15:43,2016-10-10,10:30:00,2016-10-13,1,63000
r3328,h_23,c_833,2016-09-28 08:22:57,2016-10-13,09:00:00,2016-10-14,4,260400
r3606,h_147,c_900,2016-09-28 19:13:15,2016-10-10,12:00:00,2016-10-13,2,80400
r3771,h_93,c_939,2016-09-27 05:50:26,2016-10-10,12:30:00,2016-10-13,1,29400

## 2-3 データ値に基づかないサンプリング

Not Awesome

In [19]:
reserve2_3NA = pd.read_sql(
sql=
    """
SELECT *
FROM work.reserve_tb

-- データ行ごとに乱数を生成し、乱数の小さい順にデータを並び替え
ORDER BY RANDOM()

-- サンプリングする件数をLIMIT句で指定
-- 事前にカウントしたデータ数を入力し、抽出する割合をかけ、ROUNDによって四捨五入
LIMIT ROUND(4030 * 0.5)
""",
con=conn, index_col='reserve_id' )

In [20]:
reserve2_3NA.shape

(2015, 8)

Awesome

In [15]:
reserve2_3Awe = pd.read_sql(
sql=
"""
SELECT *
FROM work.reserve_tb

-- 行ごとに乱数を生成し、0.5以下のデータ行のみ絞り込み
WHERE RANDOM() <= 0.5
""",
con=conn, index_col='reserve_id' )

In [16]:
reserve2_3Awe.shape

(2034, 8)

## 2-3 データ値に基づかないサンプリング

Awesome

In [26]:
reserve2_4Awe = pd.read_sql(
sql=
"""
-- WITH句によって、一時テーブルreserve_tb_randomを生成
WITH reserve_tb_random AS(
  SELECT
    *,

    -- customer_idに対して一意の値となる乱数の生成
    -- 生成した乱数をcustomer_idごとにまとめて、1番目の値を取り出す
    FIRST_VALUE(RANDOM()) OVER (PARTITION BY customer_id) AS random_num

  FROM work.reserve_tb
)
-- *ですべての列を抽出しているが、random_numを外したい場合は列を指定する必要あり
SELECT *
FROM reserve_tb_random

-- 50%サンプリング、customer_idごとに設定された乱数が0.5以下の場合に抽出
WHERE random_num <= 0.5
""",
con=conn, index_col='reserve_id' )
reserve2_4Awe

,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,random_num
reserve_id,,,,,,,,,
r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,0.135888
r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,0.161870
r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,0.401646
r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,0.464762
r59,h_245,c_10,2016-06-20 11:10:52,2016-07-08,11:00:00,2016-07-10,4,110400,0.309984
r64,h_112,c_10,2018-03-07 00:43:22,2018-03-13,12:30:00,2018-03-14,3,117000,0.149337
r63,h_142,c_10,2017-09-11 19:41:28,2017-09-13,10:00:00,2017-09-15,2,37200,0.172422
r62,h_21,c_10,2017-07-29 17:48:41,2017-08-06,12:00:00,2017-08-08,4,89600,0.012070
r61,h_62,c_10,2017-03-12 00:45:50,2017-04-08,10:00:00,2017-04-10,2,187200,0.205620
r438,h_102,c_100,2017-01-27 03:26:39,2017-02-17,11:00:00,2017-02-20,1,18000,0.285815
r439,h_272,c_100,2017-08-16 12:12:32,2017-08-16,10:00:00,2017-08-18,2,113600,0.107470
r435,h_245,c_100,2016-02-15 18:42:25,2016-03-01,11:00:00,2016-03-02,1,13800,0.040200
r442,h_265,c_101,2017-02-04 02:02:45,2017-03-01,09:00:00,2017-03-04,2,111600,0.272091
r443,h_154,c_101,2017-07-26 03:44:09,2017-07-26,12:30:00,2017-07-29,3,87300,0.406573
r441,h_50,c_101,2016-11-12 17:20:07,2016-11-12,11:30:00,2016-11-15,1,15300,0.131950
r445,h_72,c_102,2016-06-19 13:25:48,2016-07-06,09:30:00,2016-07-08,2,38800,0.241062
r450,h_207,c_103,2017-08-11 12:30:58,2017-08-22,09:00:00,2017-08-24,1,17600,0.355719
r451,h_262,c_103,2018-01-12 06:49:39,2018-01-31,09:30:00,2018-02-02,4,152000,0.480532
r452,h_178,c_103,2018-02-06 09:17:29,2018-02-21,12:00:00,2018-02-24,3,189000,0.138305
r453,h_193,c_103,2018-08-11 17:14:35,2018-08-20,11:00:00,2018-08-22,4,468000,0.016453
r446,h_234,c_103,2016-06-13 06:22:23,2016-06-20,12:00:00,2016-06-22,1,11200,0.022367
r448,h_164,c_103,2017-03-07 00:27:08,2017-03-20,12:00:00,2017-03-22,1,25400,0.197781
r455,h_19,c_104,2016-07-21 20:54:23,2016-07-27,11:30:00,2016-07-30,3,108000,0.493126
r456,h_187,c_105,2016-03-29 12:59:02,2016-03-31,09:30:00,2016-04-01,2,36600,0.213444
r457,h_255,c_105,2016-05-18 06:03:15,2016-05-29,12:30:00,2016-06-01,3,346500,0.000990
r458,h_172,c_106,2016-01-20 23:34:39,2016-01-23,12:30:00,2016-01-25,2,64000,0.027668
r461,h_232,c_106,2017-03-11 04:41:50,2017-03-28,09:30:00,2017-03-29,3,85500,0.330691
r467,h_100,c_107,2016-11-29 06:01:52,2016-11-30,12:00:00,2016-12-03,4,57600,0.185288
r463,h_165,c_107,2016-04-21 01:34:13,2016-05-06,09:30:00,2016-05-09,1,53400,0.185947
r473,h_144,c_108,2018-03-11 03:27:53,2018-03-12,10:30:00,2018-03-13,1,10000,0.057336
...,...,...,...,...,...,...,...,...,...
r3977,h_294,c_987,2017-08-12 07:29:06,2017-08-15,11:00:00,2017-08-18,2,240600,0.100682
r3978,h_246,c_987,2018-02-07 20:51:56,2018-02-18,09:30:00,2018-02-19,4,155200,0.107044
r3983,h_233,c_988,2017-09-26 15:31:19,2017-10-02,10:00:00,2017-10-05,1,26700,0.022401
r3985,h_261,c_988,2018-02-07 22:44:53,2018-02-17,09:00:00,2018-02-19,3,61800,0.430869
r3981,h_235,c_988,2016-11-09 15:11:02,2016-11-23,11:00:00,2016-11-26,4,50400,0.495369
r3988,h_186,c_989,2016-06-28 05:21:07,2016-07-16,12:00:00,2016-07-18,4,60800,0.419656
r434,h_193,c_99,2018-02-24 09:03:02,2018-03-23,11:30:00,2018-03-26,2,351000,0.261426
r428,h_85,c_99,2016-04-05 13:37:10,2016-04-12,11:30:00,2016-04-14,4,172000,0.373891
r429,h_86,c_99,2016-06-16 22:55:02,2016-07-16,10:30:00,2016-07-17,3,64200,0.274977
r3991,h_80,c_990,2016-12-27 20:35:55,2017-01-20,11:00:00,2017-01-21,4,146800,0.012294
r3990,h_194,c_990,2016-07-04 21:25:05,2016-08-02,10:30:00,2016-08-04,1,19800,0.329100
r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,0.190644
r3998,h_267,c_993,2016-02-14 10:44:54,2016-03-04,12:00:00,2016-03-06,2,39200,0.079067
r3999,h_72,c_993,2016-06-09 04:35:48,2016-07-04,12:00:00,2016-07-07,1,29100,0.199537
r4000,h_193,c_993,2016-09-08 21:27:41,2016-09-23,12:30:00,2016-09-25,2,234000,0.310931
r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,0.198554
r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,0.373734
r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,0.005812
r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,0.329106
r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,0.292977
r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,0.336493
r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,0.300075
r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,0.044113
r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,0.149959
r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,0.107873
r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,0.465159
r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,0.082393
r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,0.139324
r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,0.096008
r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,0.345727

In [21]:
reserve2_4Awe_ex = pd.read_sql(
sql=
"""
  SELECT
    *,

    -- customer_idに対して一意の値となる乱数の生成
    -- 生成した乱数をcustomer_idごとにまとめて、1番目の値を取り出す
    FIRST_VALUE(RANDOM()) OVER (PARTITION BY customer_id) AS random_num

  FROM work.reserve_tb

""",
con=conn, index_col='reserve_id' )

In [27]:
reserve2_4Awe_ex.loc[reserve2_4Awe_ex['customer_id']=='c_1']

,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,random_num
reserve_id,,,,,,,,,
r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,0.896331
r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,0.991807
r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,0.668622
r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,0.004954
r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,0.526296
r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,0.997575
r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,0.481073
r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,0.126287